.DS_Store
node_modules
dist
#envConfig.js

# local env files
.env.local
.env.*.local
.md

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.gitignore
# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
